@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
a:link {
    text-decoration: none;
    color: #4d4b4a;
}
a:visited {
    text-decoration: none;
    color: #393444;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: #868B8E;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}
header, h1 {
    color: #E7D2CC;
}
h1 {
    font-size: 35px;
}
li {
    display: inline-block;
}
table, td {
    border: 3px solid #4a4a4a;
    border-collapse: collapse;
}
table {
    word-break: break-word;
}
td {
    text-align: center;
    padding: 2px;
}
td:first-child {
    text-align: left;
}
#coluna {
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 60%;
}
#proposta > a {
    flex: 1 1 0;
}
.center {
    text-align: center;
}
.italic {
    font-style: italic;
}
.ms {
    font-family: monospace;
}
.menu a, .menu div {
    background-color: #B9B7BD;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #868B8E;
    color: #EEEDE7;
    display: block;
}
.menu a:hover, .menu div:hover {
    background-color: #E7D2CC;
}
@media only screen and (max-width: 600px) {
    #coluna {
        width: 95%;
    }
  }