@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
a:link {
    text-decoration: none;
    color: #4d4b4a;
}
a:visited {
    text-decoration: none;
    color: #393444;
}
body {
    display: table-cell;
    vertical-align: middle;
    background-color: #e8e9ed;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    text-align: center;
}
header, h1 {
    color: #ff7b9c;
}
h1 {
    font-size: 35px;
}
li {
    display: inline-block;
}
table, td {
    border: 3px solid #4a4a4a;
    border-collapse: collapse;
}
table {
    word-break: break-word;
}
td {
    text-align: center;
    padding: 2px;
}
td:first-child {
    text-align: left;
}
#coluna {
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 60%;
}
#home {
    width: 700px;
}
#pdf {
    background-color: #babfd1;
    border-radius: 5px;
    padding: 4px;
}
.center {
    text-align: center;
}
.info {
    font-size: 20px;
    text-align: justify;
}
.italic {
    font-style: italic;
}
.ms {
    font-family: monospace;
}
.menu a, .menu div {
    padding: 6px 15px;
    text-decoration: none;
    color: #EEEDE7;
    display: inline;
}
.menu a:hover, .menu div:hover {
    background-color: #607196;
}
.menu {
    background-color: #babfd1;
    padding: 3px;
}
.resumo {
    font-size: 18px;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    #coluna {
        width: 95%;
    }
}
